body {
  background-color: pink;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: white;
  margin: 0;
  padding: 0;
}

header nav a {
  color: red;
  text-decoration: none;
  padding: 0.5em;
}

h1 {
  text-align: center;
  color: red;
}

p {
  text-align: center;
}

#toggleButton {
  background-color: red;
  border-radius: 4px;
  color: white;
  padding: 0.5em;
  margin: 0.5em auto;
  display: block;
}

#text {
  text-align: center;
  color: red;
}

#heartText {
  padding-top: 30px;
  font-size: 20px;
}

img {
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  color: white;
}
